.flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

@media(max-width: 1399px) {
    #wrapper {
        margin-top: 100px;
    }
}

h2 {
    font-size: 22px;
}

.flex-wrap button {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    border-radius: 5px;
    display: block;
    border: 0px;
    cursor: pointer;
}

.option-noselected:hover, .option-noselected button:focus {
    cursor: pointer;
    background-color: rgb(107, 107, 107);
    color: var(--text-color);
}

input[type="textbox"] {
    background-color: transparent;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
}

.option-selected {
    background-color: var(--search-include);
    color: black;
}

.option-deselected {
    background-color: var(--search-exclude);
}

.option-noselected {
    background-color: var(--fg-color);
    color: var(--text-color);
}

#search {
    margin-bottom: 10px;
}

.card-wrapper {
    padding: 10px;
}

.card-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 500px;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.card-effect-text {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1rem;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.card-effect-type {
    font-size: 18px;
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.card-image-wrapper {
    width: 100px;
    cursor: pointer;
}

#card_display {
    background-color: var(--bg-color);
}

.close-dialog {
    width: 300px;
    display: block;
    font-size: 16px;
    background-color: var(--fg-color);
    border: 2px solid var(--fg-color);
    margin: 0 auto;
    color: var(--text-color);
    margin-top: 20px;
}

.close-dialog:hover, .close-dialog:focus {
    border: 2px solid var(--text-color);
    cursor: pointer;
}

.flex-center {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.element-icon {
    max-height: 80px;
}

.img-fit-vertical {
    max-height: 100%;
}

.gallery-element-wrapper {
    height: 50px;
}