:root {
    --bg-color: rgb(29, 29, 29);
    --link-color: rgb(98, 98, 240);
    --link-hover-color: rgb(163, 163, 248);
    --fg-color: rgb(51, 51, 51);
    --text-color: rgb(230, 230, 230);
    --muted-text-color: rgb(150, 150, 150);
    --search-include: rgb(71, 194, 71);
    --search-exclude: rgb(189, 31, 31);
}

body {
    border: 0;
    padding: 0;
    margin : 0;
    background-color: var(--bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    font-size: 18px;
    background-image: url(/public/images/background.webp);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
}

h1 {
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

.h3-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

h3 {
    font-size: 24px;
    text-align: center;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 100;
}

h4 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: 100;
}

.horizontal-bar {
    height: 1px;
    background-color: var(--fg-color);
    flex: 1;
}

.description-text {
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 4px;
    line-height: 24px;
    width: 60%;
    color: var(--muted-text-color);
    margin: 0 auto;
    margin-bottom: 10px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

@media (max-width: 1199px) {
    .description-text {
        width: 95%;
    }
}

#header {
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0% 50%, rgba(79, 79, 79, 1) 95%);
}

@media (max-width: 999px) {
    #header {
        justify-content: right;
        height: 40px;
    }
}

#footer {
    margin-top: 50px;
    font-size: 14px;
    color: var(--muted-text-color);
    text-align: center;
}

#error {
    color: red;
    text-align: center;
}

#wrapper {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

#index_wrapper {
    width: 95%;
    margin: 0 auto;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

@media (max-width: 799px) {
    #wrapper {
        margin-top: 50px;
    }

    #index_wrapper {
        margin-top: 100px;
    }

    .grid-3 {
        grid-template-columns: 1fr 6fr 1fr;
    }
}

.main-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100px;
    z-index: 100;
}

@media (max-width: 999px) {
    .main-logo {
        height: 50px;
    }
}

#navigation, #access-navigation {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0;
    padding: 10px 0px 10px 0px;
    margin-left: 200px;
    list-style: none;
}

#hamburger_menu {
    display: none;
    background-color: transparent;
    appearance: none;
    margin: 0;
    width: 30px;
    height: 30px;
}

@media (max-width: 999px) {
    #hamburger_menu {
        display: block;
        position: relative;
        content: url('../images/svg/hamburger-menu.svg');
    }

    #navigation {
        display: none;
        max-width: 100%;
        gap: 5px;
        margin: 0;
        position: absolute;
        flex-direction: column;
        right: 20px;
        top: 40px;
        background: linear-gradient(to bottom, var(--bg-color) 95%, transparent 100%);
        padding: 3px;
    }

    #hamburger_menu:checked~#navigation {
        display: block;
    }

    #access-navigation {
        gap: 2px;
        margin-left: 70px;
        flex-wrap: wrap;
    }
}

.nav-button {
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
    text-align: center;
    background: none;
    color: var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border: 2px solid transparent;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

@media (max-width: 999px) {
    .nav-button {
        font-size: 18px;
        margin-bottom: 10px;
    }
}


.nav-button:hover, .site-button:hover, .access-nav-button:hover {
    background: linear-gradient(44deg, rgb(255, 0, 0) 0 50%, rgb(255, 199, 199) 52% 53%, rgb(255, 0, 0) 55%);
    background-size: 250% 250%;
    border: 2px solid white;
    color: var(--text-color);

    -webkit-animation: button-anim 0.5s linear 1;
    -moz-animation: button-anim 0.5s linear 1;
    animation: button-anim 0.5s linear 1;
}

@-webkit-keyframes button-anim {
    0%{background-position:0% 50%}
    1%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:100% 50%}
}
@-moz-keyframes button-anim {
    0%{background-position:0% 50%}
    1%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:100% 50%}
}
@keyframes button-anim {
    0%{background-position:0% 50%}
    1%{background-position:0% 50%}
    50%{background-position:50% 50%}
    100%{background-position:100% 50%}
}

.img-fit {
    width: 100%;
}

footer p {
    text-align: center;
    color: var(--muted-text-color);
    font-size: 14px;
}

@media (max-width: 1199px) {
    footer p {
        font-size: 12px;
    }
}

#socials {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--muted-text-color);
}

.social-icon {
    width: 25px;
    height: 25px;
}

.buy-now-button {
    font-size: 3rem;
    background-color: var(--link-color);
    border: 2px solid var(--text-color);
    width: 85%;
    max-width: 600px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (max-width: 1199px) {
    .buy-now-button {
        position: unset;
        font-size: 1.5rem;
        transform: translate(0, 0);
    }
}

.buy-now-button a {
    color: var(--text-color);
}

.card-float-right {
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 180px;
    max-height: 140px;
    transform: rotate(25deg);
}

.card-float-left {
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 180px;
    max-height: 140px;
    transform: rotate(-25deg);
}

@media (max-width: 1199px) {
    .card-float-left, .card-float-right {
        max-width: 90px;
        max-height: 70px;
    }
}

.data-list-wrapper {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 1199px) {
    .data-list-wrapper {
        width: 95%;
    }
}

.retailer-address {
    color: var(--muted-text-color);
    font-weight: 0;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.retailer-data {
    font-size: 16px;
    margin-bottom: 10px;
}

.event-data {
    margin-bottom: 10px;
}

.creature-image-centered {
    width: 95%;
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

form input[type="email"], form input[type="textbox"], form input[type="number"], form input[type="password"] {
    background-color: transparent;
    padding: 5px;
    color: var(--text-color);
    border: 2px solid white;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 10px;
}

textarea {
    background-color: transparent;
    padding: 5px;
    color: var(--text-color);
    border: 2px solid white;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 10px;
    height: 100px;
}

.site-create-button {
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
    text-align: center;
    background-color: var(--link-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 18px;
    border: 2px solid transparent;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    cursor: pointer;
}

.site-create-button:hover, .site-create-button:focus {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}